:root {
    --blue: #87cddeff;
    --dark-blue: #164450ff;
    --white-blue: #afdde9ff;
    --bg-color: rgba(215, 238, 244, 52);
}

html, body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: var(--bg-color);
    height: 100%;
    scroll-behavior: smooth;
}
.header-img {
    max-width: 120px;
}
.calendar {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.month-navigation {
    margin: 10px 0;
}
.current-month {
    font-size: 28px;
    font-weight: bold;
    color: var(--dark-blue);
}
.nav-button {
    background-color: var(--blue);
    border: none;
    color: var(--dark-blue);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 3px 7px;
    border-radius: 10px;
}
table {
    margin: 0 auto;
    width: 100%;
}
th, td {
    padding: 0;
    text-align: center;
    width: 14.28%;
}
th {
    background-color: var(--dark-blue);
    color: var(--white-blue);
    border-radius: 10px;
    padding: 5px 0;
    font-size: 22px;
}
.date-button {
    background-color: var(--white-blue);
    color: var(--dark-blue);
    font-size: 24px;
    font-weight: 400;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}
.inactive-date {
    background-color: var(--blue);
    cursor: not-allowed;
}
.current-date {
    background-color: var(--dark-blue);
    color: var(--white-blue);
    font-weight: bold;
}

/* PLANNER PAGE */

.planner-page {
    display: none;
    background-color: var(--bg-color);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.back-button {
    position: absolute;
    top: 7px;
    left: 10px;
    background-color: var(--blue);
    border: none;
    color: var(--dark-blue);
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 3px 7px;
    border-radius: 10px;
}

.selected-date {
    font-size: 28px;
    font-weight: bold;
    color: var(--dark-blue);
    margin-bottom: 10px;
}

.buttons button{
    margin-top: 15px;
    background-color: var(--blue);
    border: none;
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 3px 7px;
    border-radius: 10px;
}

.planner-table {
    margin-top: 20px; /* Отступ сверху для таблицы */
    width: 100%;
    height: 100%; /* Задаем таблице высоту равную 100% высоты экрана */
    table-layout: fixed; /* Равномерное распределение ширины ячеек */
    border-collapse: collapse;
}

.planner-body {
    /* display: block; Делаем tbody блочным элементом */
    width: 100%;
    height: 100%; /* Высота тела таблицы с учетом отступа сверху */
    /* overflow-y: auto; Прокрутка, если данных слишком много */
}

.planner-body td {
    border-top: 1px solid var(--dark-blue); /* Горизонтальная граница */
    border-bottom: 1px solid var(--dark-blue); /* Горизонтальная граница */
    border-left: none;
    border-right: none;
    color: var(--dark-blue);
    height: 18px; /* Примерная высота ячейки, можно настроить */
    vertical-align: middle; /* Выравнивание содержимого по вертикали */
    text-align: center; /* Выравнивание содержимого по горизонтали */
    font-size: 14px;
}

.planner-body td:nth-child(1) {
    width: 30%;
}

.planner-body td:nth-child(2) {
    width: 70%;
}


/* FORM */

.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Чтобы окно было поверх других элементов */
}

.time-group {
    display: flex; /* Размещаем элементы в одну строку */
    gap: 10px; /* Расстояние между полями */
    margin-bottom: 10px; /* Отступ снизу */
}

.time-group input {
    width: 139px; /* Ширина для каждого поля времени */
}

/* Стили для фона модального окна */
.modal-overlay {
    display: none; /* Скрыт по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    z-index: 999; /* Фон будет под модальным окном */
}

/* Стили для кнопки закрытия */
.close-modal-btn {
    background-color: var(--blue);
    border: none;
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 3px 7px;
    border-radius: 10px;
    cursor: pointer;
}

/* Стиль для формы внутри модального окна */
.modal form {
    display: flex;
    flex-direction: column;
}

.modal input {
    outline: none;
    background-color: var(--bg-color);
    margin-bottom: 10px;
    padding: 2px;
    font-size: 16px;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
}

.modal input:focus {
    border-color: coral;
}

.modal button {
    background-color: var(--blue);
    border: none;
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding: 3px 7px;
    border-radius: 10px;
    cursor: pointer;
}