:root {
    --blue: #87cddeff;
    --dark-blue: #164450ff;
    --white-blue: #afdde9ff;
    --bg-color: rgba(215, 238, 244, 52);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: var(--bg-color);
}
.header-img {
    max-width: 120px;
    padding-bottom: 15px;
}
.calendar {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
}
.month-navigation {
    margin: 10px 0;
}
.current-month {
    font-size: 22px;
    color: var(--dark-blue);
}
.nav-button {
    background-color: var(--blue);
    border: none;
    color: var(--dark-blue);
    font-size: 20px;
    align-items: center;
    padding: 3px 7px;
    border-radius: 10px;
}
table {
    margin: 0 auto;
    width: 100%;
}
th, td {
    padding: 0;
    text-align: center;
    width: 14.28%;
}
th {
    background-color: var(--dark-blue);
    color: var(--white-blue);
    border-radius: 10px;
    padding: 5px 0;
}
.date-button {
    background-color: var(--white-blue);
    color: var(--dark-blue);
    font-size: 22px;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}
.inactive-date {
    background-color: var(--blue);
    /* color: #666666; */
    cursor: not-allowed;
}
.current-date {
    background-color: var(--dark-blue);
    color: var(--white-blue);
}
